.bg {
  background-color: #f8f8f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .parent {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); // Adjust the shadow properties as needed

    .imgDiv {
      text-align: center;

      h1 {
        color: #1890ff;
        text-align: center;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      nz-form-item {
        margin-bottom: 15px;
      }

      .password-gap {
        margin-bottom: 15px;
      }

      .login-link {
        display: inline-block;
        margin-top: 10px;
        font-size: 16px;
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: #0056b3;
        }
      }

      nz-form-control {
        width: 100%;

        input {
          border-radius: 3px;
          border: 1px solid #d9d9d9;
          padding: 8px;
          width: 100%;
        }
      }

      button {
        width: 100%;
        border-radius: 3px;
        padding: 8px;
        background-color: #1890ff;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #40a9ff;
        }
      }
    }
  }
}
